h1
{
  color:red;
  text-align:center;
  font-family:"Verdana";
  border: 2px solid red;
    position: fixed;
    width: 100%;
    top: 0px;
}
body
{
  text-align:center;
  font-family:"Verdana";
}
img
{
  font-family:"Verdana";
}

div#title
{
background-color:red;
margin-top:auto;
}
