<!DOCTYPE html>
<html>
<style>

h1
{
  text-align:left;
  font-family:"Verdana";
  font-size:25px;
}
h2
{
  text-align:left;
  font-family:"Verdana";
  font-weight:bold;
  text-decoration:underline;
  font-size:18px;
}
body
{
  text-align:left;
  font-family:"Verdana";
  font-size:14px;
}

</style>
</html>
